<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowers</title>
    
    <ul>
        {% load custom_tags %}
        {% get_all_types as all_types %}
        {% for type in all_types %}
            <li><a href="{% url 'flowers_by_type' type.id %}">{{ type.name }}</a></li>
        {% endfor %}
    </ul>
    
    
</head>
<body>
    <header>
        <h1>Flowers Project</h1>
        <nav>
            <a href="{% url 'all_flowers' %}">Barcha Gullar</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>
